body {
  margin: 0;
  background: rgb(25, 51, 176);
  background: radial-gradient(
      circle,
      rgba(25, 51, 176, 1) 0%,
      rgba(3, 7, 35, 1) 100%
    ),
    100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  overflow: hidden;
}
.popup {
  display: flex;
  position: absolute;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #8b8b8b9e;
  overflow: hidden;
  transition: height 0ms 0ms, opacity 600ms 0ms;
  opacity: 0;
}
.close {
  position: absolute;
  top: 17%;
  opacity: 0.3;
  user-select: none;
  cursor: pointer;
}
.content {
  width: 40vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000ad;
  z-index: 2;
  flex-direction: column;
  text-align: center;
}
.content button {
  /* border-radius: 0; */
  margin-bottom: 50px;
}
.content p {
  font-weight: 300;
  font-size: 21px;
  word-spacing: 5px;
}
.active {
  height: 100%;
  opacity: 1;
}

*::selection {
  color: red;
  background-color: rgba(255, 0, 119, 0.267);
}
img {
  pointer-events: none;
  user-select: none;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 4%;
  font-weight: 500;
}
.menu-btn {
  cursor: pointer;
  display: none;
  position: absolute;
}
.menu-btn:hover span:nth-child(2) {
  transform: translate(6px);
}
header .menu-btn span {
  display: block;
  width: 45px;
  height: 1px;
  background: white;
  margin: 15px 0;
  transition: 0.3s;
}
.menu-btn:active span {
  background: rgb(209, 209, 209);
}

header nav ul {
  list-style: none;
  display: flex;
  overflow: hidden;
}
header nav ul li {
  cursor: pointer;
  margin: 0 40px;
  box-sizing: border-box;
  position: relative;
  transition: 0.5s;
}
header nav ul li::after {
  content: attr(data-hover);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: -100%;
  left: 0;
  transition: 0.2s;
}
header nav ul li::before {
  content: '';
  width: 100%;
  height: 55%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  transition: 0.5s;
  background: #0022ff;
  border-radius: 46px;
  opacity: 0;
  filter: blur(3px) brightness(1.75);
}
header nav ul li:hover {
  transform: translateY(100%);
}
header nav ul li:hover > header nav ul li::after {
  top: 0;
}
header nav ul li:hover::before {
  background: rgba(181, 43, 223, 0.678);
  top: -15px;
  opacity: 0.6;
  transform: scale(1.1);
}

header picture::after {
  content: ' ';
  display: block;
  width: 218%;
  height: 200%;
  background-image: url(./img/logo_effect.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -2;
  position: fixed;
  animation: bgEffectLogo 5s linear infinite alternate-reverse;
  top: -100%;
  left: -58%;
  opacity: 0.3;
}
header picture img {
  width: 14vw;
}
main {
  display: flex;
  justify-content: space-evenly;
}
.left {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: relative;
}
.left::before {
  content: ' ';
  display: block;
  width: 75%;
  height: 80%;
  background-image: url(./img/bg_effect1.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  position: fixed;
  animation: bgEffect 5s ease-in-out infinite alternate-reverse;
  top: 10%;
  left: 5%;
}
h1,
h2,
h3 {
  margin: 0;
}
.left h1 {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 6em;
  letter-spacing: 60px;
}
.left h3 {
  font-weight: 400;
  font-size: 35px;
  margin: 40px 0 0 0;
  letter-spacing: 13px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.right h2 {
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 13px;
}

.right h3 {
  font-weight: 500;
  font-size: 25px;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin: 20px 0 30px;
}

.right p {
  font-weight: 300;
  font-size: 21px;
  word-spacing: 5px;
  width: 80%;
}

button {
  border: none;
  /* border-radius: 30px; */
  background: white;
  font-size: 20px;
  padding: 15px 60px;
  margin: 30px 0 0 0;
  width: max-content;
  cursor: pointer;
  font-weight: 400;
  transition: 0.4s;
  border: 1px rgb(255, 255, 255) solid;
}

button:hover {
  background: transparent;
  color: white;
}

button:active {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}

#social {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 6%;
  position: absolute;
  right: 0;
  bottom: 5%;
}

#social::after {
  content: ' ';
  display: block;
  width: 60%;
  height: 80%;
  background-image: url(./img/bg_effect2.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  position: fixed;
  animation: bgEffect2 5s ease-in-out infinite alternate-reverse;
  right: -30%;
  bottom: 0;
}

#social img {
  width: 25px;
  margin: 10px 0;
  cursor: pointer;
}
#social a {
  position: relative;
}
#social a::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s;
  box-shadow: none;
  filter: blur(15px);
}
#social a:hover::after {
  transform: scale(0.5);
  box-shadow: 0 0 10px 5px #fff, 0 0 15px 10px #f0f, 0 0 10px 5px #0ff;
}

#social img:last-child {
  margin-bottom: 0;
}

@keyframes bgEffect {
  0% {
    opacity: 0.6;
    transform: scale(1.2);
    transform: skewX(5deg);
    filter: hue-rotate(20deg);
  }
  100% {
    opacity: 1;
    transform: scale(0.9);
    transform: skewX(-5deg);
    filter: hue-rotate(0);
  }
}
@keyframes bgEffect2 {
  0% {
    opacity: 0.6;
    transform: scale(1.2);
    filter: contrast(1.75) brightness(1.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: contrast(1) brightness(1);
  }
}
@keyframes bgEffectLogo {
  0% {
    opacity: 0.2;
    transform: scale(1.2);
    transform: skewX(5deg);
    filter: brightness(1) hue-rotate(0);
  }
  50% {
    opacity: 0.5;
    filter: hue-rotate(-0.25tur);
  }
  100% {
    opacity: 0.4;
    transform: scale(0.9);
    transform: skewX(-5deg);
    filter: brightness(0.5);
  }
}

@media only screen and (max-width: 1366px) {
  .left h1 {
    font-size: 4.5em;
  }
  .left h3 {
    font-size: 23px;
  }
  .right h2 {
    font-size: 2em;
  }
  .right h3 {
    font-size: 17px;
  }
  .right p {
    font-size: 13px;
  }
  button {
    font-size: 16px;
    padding: 8px 26px;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    justify-content: center;
  }
  header picture img {
    width: 20vw;
  }
  nav {
    display: none;
  }
  .left h3,
  .right p {
    display: none;
  }
  main {
    flex-direction: column;
    align-items: center;
  }
  .right {
    width: 90%;
    text-align: center;
    align-items: center;
  }
  #social {
    transform: rotate(270deg);
    right: 12%;
    bottom: 0%;
    margin: 0;
    transition: 0.3s;
  }
  button {
    margin: 0;
  }
  .menu-btn {
    display: block;
    right: 5%;
    z-index: 3;
  }
  .menuOpen span:first-child {
    transform: rotate(45deg);
    transform-origin: left;
  }
  .menuOpen span:nth-child(2) {
    opacity: 0;
  }
  .menuOpen span:last-child {
    transform: rotate(135deg) translate(8px, 10px);
    transform-origin: right;
  }
  .mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000db;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
  }
  .mobileNav ul {
    flex-direction: column;
  }
  .mobileNav ul li::after,
  .mobileNav ul li::before {
    display: none;
  }
  .mobileNav ul li:hover {
    color: rgb(136, 136, 136);
    transform: none;
  }
  .mobileNav ul li {
    margin: 15px 0;
    font-size: 16px;
  }
}
